/*Estilização Global*/

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
}

/*Estilização Tags*/

html {
  background-image: url('../img/fundo.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  margin-top: 3%;
    font-family: 'Anton', sans-serif;
    background-color: #FFAA47;
    width: 70%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

/*Estilização Classes*/

.logo {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.card-choice {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 3%;
}

.item-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fd9b35;
  border-radius: 5px;
  padding: 5% 1%;
  cursor: pointer;
}

.item-choice:hover {
  margin-top: -5px;
}

.img-choice {
  width: 60%;
  background-color: #FFAA47;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

/*Estilização Medias*/

@media (max-width: 1050px) {
  .card-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-choice {
    width: 50%;
  }
}
